.logo {
  color: var(--logo-color);
  @include font-style(var(--secondary-font), 700, 26px, 1.19, 0.03em);

  @media screen and (min-width: $tablet) and (max-width: $predesktop) {
    @include font-style(var(--secondary-font), 700, 24px, 1.17, 0.03em);
  }
}

.logo__accent {
  color: var(--nav-color);
}

.logo__header {
  @media screen and (max-width: $pretablet) {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 0;
  }

  @media screen and (min-width: $tablet) and (max-width: $predesktop) {
    padding-top: 26px;
    padding-bottom: 25px;
    margin-right: 87px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
  }
}

.logo__footer {
  color: var(--accent-color);
  @include font-style(var(--secondary-font), 700, 24px, 1.17, 0.03em);

  @media screen and (max-width: $pretablet) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $desktop) {
    @include font-style(var(--secondary-font), 700, 26px, 1.19, 0.03em);
  }
}
