body {
  margin: 0;
  color: var(--main-color);
  font-family: var(--main-font);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
  }

  @media screen and (min-width: $desktop) {
    width: 1200px;
  }
}

.button {
  display: inline-block;
  border: none;
  cursor: pointer;
}


picture {
  img {
  width: 100%;
  }
}